{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="name-cell">Prénom</th>
                <th class="name-cell">Nom</th>
                <th class="email-cell">Email</th>
                <th>Rôles</th>
                <th class="action-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="name-cell">{{ user.firstname }}</td>
                <td class="name-cell">{{ user.lastname }}</td>
                <td class="email-cell">{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Détails</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                    {{ include('user/_delete.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter un utilisateur</a>
{% endblock %}
